.inputItem {
  position: relative;
  z-index: 1;
  padding-bottom: 15px;
  border-bottom: 1px solid #f5ebe9;
  width: 240px;
}

.inputItem h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  color: #a79997;
}

.dateInput {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border: none;
  outline: none;
  font-family: monospace;
  width: 240px;
  cursor: pointer;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 18px;
  background: linear-gradient(180deg, #0574e5 0%, #021c7a 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 6px;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker {
  border-radius: 8px;
  position: relative;
}
.dataItem {
  display: flex;
  align-items: center;
  z-index: 1;
}
.icon {
  position: absolute;
  right: 0px;
  top: 25px;
  z-index: -1;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #000 !important;
}