.discoverBlock {
  box-shadow: 0 10px 30px 5px rgba(219, 200, 197, 0.2);
  background: #fff;
  width: 950px;
  padding: 45px;
  position: absolute;
  bottom: 0px;
  z-index: 0;
  transform: translateX(500px);
  overflow: visible;
}

.discoverBlock form {
  display: flex;
  justify-content: space-between;
}