/* .rangeContainer {
    --_marker-border-clr: #0EA5E9;
    --_marker-size: 15px;
    --_track-heigt: 3px;
  
    --_tooltip-bg-clr: rgba(0, 0, 0, 0.4);
    --_tooltip-txt-clr: var(--_marker-border-clr);
    
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
  }
  
  .slidersControl {
    position: relative;
  }
  
  .sliderTooltip {
    position: absolute;
    top: -3.5rem;
    left: 0;
    width: fit-content;
    background-color: var(--_tooltip-bg-clr);
    color: var(--_tooltip-txt-clr);
    font-size: 0.8rem;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    text-align: center;
    translate: -50% 0;
  }
  
  .sliderTooltip::before {
    content: "";
    position: absolute;
    bottom: -0.25rem;
    left: 50%;
    translate: -50% 0;
    width: .5rem;
    height: .5rem;
    rotate: 45deg;
    z-index: -1;
    background-color: inherit;
  }
  
  :global {
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: var(--_marker-size);
      height: var(--_marker-size);
      background-color: var(--_marker-border-clr);
      border-radius: 50%;
      box-shadow: 0 0 0 1px var(--_marker-border-clr);
      cursor: pointer;
    }
  
    input[type="range"]::-moz-range-thumb {
      -webkit-appearance: none;
      pointer-events: all;
      width: var(--_marker-size);
      height: var(--_marker-size);
      background-color: var(--_marker-border-clr);
      border-radius: 50%;
      box-shadow: 0 0 0 1px var(--_marker-border-clr);
      cursor: pointer;
    }
  }
  
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: var(--_track-heigt);
    width: 100%;
    position: absolute;
    background-color: var(--_marker-border-clr);
    pointer-events: none;
  }
  
  .scale {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    position: relative;
    width: calc(100% - var(--_marker-size));
    margin-inline: auto;
    font-size: 0.8rem;
  }
  
  .scale div {
    position: absolute;
    translate: -50% 0;
  }
  
  .scale div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    translate: -50% -125%;
    width: 1px;
    height: 10px;
    background-color:#666;
  }
   */